<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Top Part</title>
    <link rel="stylesheet" type="text/css" href="/topPart.css">
</head>
<body>

<div th:fragment="topPart">
    <div class="topContainer">
        <img class="topImage" src="/images/header.jpg"/>
        <p id="topPartText">Bank Lé Phill</p>
    </div>
    <div class="navbar">
        <a class="navbar-brand" href="/userPage">Home</a>
        <a class="nav-item" href="/insert">Insert</a>
        <a class="nav-item" href="/withdraw">Withdraw</a>
        <a class="nav-item" href="/transfer">Transfer</a>
        <a class="nav-item" href="/">Logout</a>
    </div>

</div>

</body>
</html>