<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create Account</title>
</head>
<body>

<div >
    <p>Your Personal user ID is: <span th:text="${personalId}"></span></p>
</div>

<form th:action="@{/postAccount}" method="post">

    <label>First name
        <input name="firstName" type="text">
    </label>
    <br>
    <label>Last name
        <input name="lastName" type="text">
    </label>
    <br>
    <label>Password
        <input name="password" type="password">
    </label>
    <br>
    <input type="submit" value="Create account">


</form>


</body>
</html>