<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="/topPart.css">
</head>
<body>
<div th:replace="/includes/topPart :: topPart"></div>

<div>
    <p>Create a new account with us today! <button onclick="location.href='createAccount'" type="button">Sign up!</button></p>

    <p>Already a member? <button onclick="location.href='login'" type="button">Login</button></p>
</div>

</body>
</html>