<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/topPart.css">

</head>
<body>
<div th:replace="/includes/topPicture :: topPicture"></div>

<div>
    <h2>Hi welcome back, please enter your login information's.</h2>
    <form th:action="@{/postLogin}" method="post">

        <label>User Id
            <input name="id" type="text">
        </label>
        <br>
        <label>Password
            <input name="password" type="password">
        </label>
        <br>
        <input type="submit" value="Login">

    </form>
</div>


</body>
</html>