<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Transfer money</title>
    <link rel="stylesheet" type="text/css" href="/topPart.css">

</head>
<body>
<div th:replace="/includes/topPicture :: topPicture"></div>
<div>
    <form th:action="@{/postTransfer}" method="post">
        <label>Amount to transfer
            <input name="transferAmount" type="text">
        </label>
        <br>
        <label>User id to transfer to
            <input name="receivingUserId" type="text">
        </label>
        <br>
        <input type="submit" value="Confirm">
    </form>


</div>

</body>
</html>