<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
    <link rel="stylesheet" type="text/css" href="/topPart.css">
</head>
<body>
<div th:replace="/includes/topPicture :: topPicture"></div>
<div th:replace="/includes/navbar :: navbar"></div>


<h1>Your bank information's</h1>
<p>First name: <span th:text="${user.firstName}"></span></p>
<p>Last name: <span th:text="${user.lastName}"></span></p>
<p>Balance: <span th:text="${user.balance}"></span></p>


</body>
</html>
